*.o
*.lo
*.la
.*.swp
.libs
.deps

Makefile
Makefile.in

*.trs
*.log
ChangeLog
configure
config.log
depcomp
compile
config.guess
config.h
config.sub
ltmain.sh
configure.ac
INSTALL
mkinstalldirs
config.status
stamp-h1
config.h.in
autom4te.cache
libtool
missing
aclocal.m4
install-sh
gtk-doc.m4
gtk-doc.make
test-driver
common/.dirstamp
common/stamp-xfconf-marshal.h
common/xfconf-marshal.c
common/xfconf-marshal.h
common/xfconf-alias.h
common/xfconf-aliasdef.c
common/xfconf-gdbus-bindings.c
common/xfconf-gdbus-bindings.h
docs/reference/xfconf-decl-list.txt
docs/reference/sgml-build.stamp
docs/reference/xfconf.signals
docs/reference/html-build.stamp
docs/reference/version.xml
docs/reference/sgml.stamp
docs/reference/xfconf.prerequisites
docs/reference/html.stamp
docs/reference/xfconf-undocumented.txt
docs/reference/tmpl-build.stamp
docs/reference/tmpl.stamp
docs/reference/xml
docs/reference/xfconf.hierarchy
docs/reference/xfconf-unused.txt
docs/reference/html
docs/reference/scan-build.stamp
docs/reference/xfconf.interfaces
docs/reference/xfconf-decl.txt
docs/reference/xfconf.args
docs/reference/*.bak
docs/reference/tmpl/*.bak
docs/reference/tmpl/stamp-xfconf-marshal.sgml
m4/*
po/POTFILES
po/Makefile.in.in
po/stamp-it
po/*.gmo
po/*.pot
tests/get-properties/t-get-arrayv
tests/get-properties/t-get-boolean
tests/get-properties/t-get-double
tests/get-properties/t-get-int
tests/get-properties/t-get-string
tests/get-properties/t-get-stringlist
tests/get-properties/t-get-uint64
tests/has-properties/t-has-arrayv
tests/has-properties/t-has-boolean
tests/has-properties/t-has-double
tests/has-properties/t-has-int
tests/has-properties/t-has-string
tests/has-properties/t-has-stringlist
tests/has-properties/t-has-uint64
tests/object-bindings/t-object-bindings
tests/others/t-issue-16
tests/property-changed-signal/t-string-changed-signal
tests/property-changed-signal/t-string-changed-signal-detailed
tests/reset-properties/t-reset-arrayv
tests/reset-properties/t-reset-boolean
tests/reset-properties/t-reset-double
tests/reset-properties/t-reset-int
tests/reset-properties/t-reset-string
tests/reset-properties/t-reset-stringlist
tests/reset-properties/t-reset-uint64
tests/set-properties/t-set-arrayv
tests/set-properties/t-set-boolean
tests/set-properties/t-set-double
tests/set-properties/t-set-int
tests/set-properties/t-set-string
tests/set-properties/t-set-stringlist
tests/set-properties/t-set-uint64
tests/tests-end/t-tests-end

xfconf/xfconf-dbus-bindings.h
xfconf/libxfconf-0.pc
xfconf/Xfconf-0.gir
xfconf/Xfconf-0.typelib
xfconf/libxfconf-0.vapi
xfconf-query/xfconf-query
xfconfd/xfconfd
xfconfd/xfconf-dbus-server.h
xfconfd/org.xfce.Xfconf.service
