include:
  - project: 'xfce/xfce4-dev-tools'
    file: '/ci/build_project.yml'

# xfconf distcheck needs a working display/dbus to run tests
# Fake it with xvfb on headless container
distcheck:
  extends: .distcheck
  stage: distcheck
  script:
    - !reference [.configure, script]
    - DISTCHECK_CONFIGURE_FLAGS=--disable-debug xvfb-run -a make distcheck
  artifacts:
    when: on_failure
    paths:
      - '**/test-suite.log'
release:
  extends: .distcheck
  stage: release
  script:
    - !reference [.configure, script]
    - xvfb-run -a make distcheck
